*{
	margin:0;
	padding: 0;
}
body{
	background-image: url(fon.jpg);
}
#conteiner{
	position: relative;
	width: 1018px;
	margin:0 auto;
	height:880;
	margin-bottom: 30px;
	border: 1px solid #C7CACF;
	box-shadow: 0 5px 5px #0a5971;
	background-color: white;
}
#head1{
	width: 1018px;
	height:172px;
position:relative;

}
.logo1{
	width: 265px;
	height: 153px;
	margin-left: 30px;
	margin-top: 15px;
	position: relative;
	float: left;
}
.logo2{
	display: block;
	position: absolute;
	top:85;
	left: 30px;
	color: #128aa7;
	font-family: Tahoma;
   font-size: 12px;
   font-weight: 400;

}
#info{
	width: 126px;
	height: 66px;
	float: right;
	display: block;
	margin-top: 10px;
	margin-right: 30px;
	color: #128aa7;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;

}
nav{
	position: absolute;
	display: inline-block;
	width: 360px;
	top: 95px;
	right: 120px;
	text-align: center;
}
.string a{
width: 23px;
height: 10px;
color: #128aa7;
font-family: Tahoma;
font-size: 8px;
font-weight: 400;
text-decoration: underline;



}
.wrap{
	position: absolute;
	width: 345px;
	height: 60px;
	padding: 12px;
	left:178px;
}
.flag {
	display: inline-block;
	float: left;
	text-align: center;
	}
	.box1{
		text-align: center;
	}
	#fon1{
		width: 1020px;
		height: 240px;
		border: 1.5px solid #138aa7;
		margin-left: -1px;
		margin-top:5px;
	}
	.navbar{
	position:relative;
	background-color: #333333;
	float: left;
	width: 1019px;
	height: 30px;
	border-bottom: #000000;
	box-shadow: 0 0 5px rgba(0,0,0,1.5);
	}
		.navbar li{
		list-style: none;
		display: inline-block;
		background: #333333;
		position: relative;
		padding-left: 5px;
		padding-right: 40px;
		text-align:justify;
	}
	.navbar li a{
color: white;
padding: 5px 7px;
text-decoration:none;
display: block;
}
.navbar li ul{
display: none;
position: absolute;
padding-left: 0;
width: 150px;
padding-top:0px;

}
.navbar li:hover ul{
	display: block;
	left: 0px;
}

#nav1{
	position: absolute;
	width: 1019px;
	height: 30px;
	text-align: center;
}

i{
	float: left;
	position: absolute;
}
#fl1{
	position: absolute;
	left: 108px;
	top: 6px;
	color: white;
}
#fl2{
	position: absolute;
	left: 64px;
	top: 6px;
	color: white;
}
#fl3{
	position: absolute;
	left: 90px;
	top: 6px;
	color: white;
}
#menu li{
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
line-height: 24px;
height: 37px;
width: 120px;
}
#content_father{
	font-size: 0px;
	vertical-align: top;
	
}
.content1{
vertical-align: top;
display: inline-block;
width: 20%;
height: 430px;
background-color: #edeef0;
color: #424c43;
font-family: Tahoma;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;
margin-top: 1px;
overflow: hidden;

}
.content2{
display: inline-block;
width: 60%;
vertical-align: top;

}
.content3{
vertical-align: top;
display: inline-block;
width: 20%;
height: 430px;
background-color: #edeef0;
color: #424c43;
font-family: Tahoma;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;
margin-top: 1px;
overflow: hidden;

}

#footer{
position: absolute;
width: 250px;
height: 30px;
left:375px;
padding-top: 18px;
opacity: 0.8;
color: white;
font-family: Tahoma;
font-size: 14px;
font-weight: 400;
}

